.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 28px;
    font-size: 18px;
}

.header__links-list-item {
    padding-left: 5px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-underline-offset: 3px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    display: block;
    height: 105px;
    width: 148px;
}

.address {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    text-underline-offset: 3px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}
