.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 28px;
    font-size: 18px;
}

.header__links-list-item {
    padding-left: 5px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-underline-offset: 3px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    display: block;
    height: 105px;
    width: 148px;
}

.address {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    text-underline-offset: 3px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
    padding-right: 37px;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    padding: 155px 50px 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    line-height: 135px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 0.3em;
    color: #fff;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    padding: 96px 0 52px;
    display: flex;
    justify-content: space-between;
}

.cover__description-text {
    align-self: center;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
    color: #fff;
}

.bet-button {
    font-size: 22px;
    text-transform: uppercase;
    padding: 11px 31px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.lots {
    padding: 180px 24px 0;
}

.lots__heading {
    padding-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 27px 0 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style-type: none;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 48px 40px;
}

.card__title {
    position: relative;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
    line-height: 120%;
}

.card__text {
    position: relative;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}

.lots__look-more-link {
    font-size: 20px;
    padding-left: 40px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
        "about_logo about_header"
        "empty_area description";
    padding: 154px 24px 180px;
}

.about__logo {
    grid-area: about_logo;
    height: 240px;
    width: 240px;
    border-radius: 120px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    grid-area: about_header;
    font-size: 40px;
    text-transform: uppercase;
    align-self: center;
    padding: 10px 25px 0;
}

.about__text {
    padding: 10px 0 0 25px;
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    padding: 0 50px 82px;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu {
    justify-self: center;
    text-align: center;
}

.footer__menu-list {
    list-style-type: none;
    font-size: 18px;
}

.footer__menu-link {
    text-underline-offset: 3px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style-type: none;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    height: 48px;
}
